*{
    margin:auto;
    background-color:black;
    color:goldenrod;
}
.headers {
    font-size:35px;
    text-align:center;
}
.subheader {
    font-size:30px;
    font-family:'Courier New', Courier, monospace;
}
.lore {
    font-size:22px;
    line-height:150%;
}
.subheader, .lore {
    text-align:left;
}